<div class="master-div-css">
    <div class="screen1" id="first-screen">
        <div [hidden]="hidden1()" class="row mx-0">
            <div class="col-7 px-0">
                <p class="para-css"> Super Man </p>
                <div class="img1-css">
                    <img src="/assets/super-man_Picsart.png" class="image-css"> 
                </div>
            </div>
            <div class="col-5 px-0 brief-css">
                Superman is born Kal-El on the alien planet Krypton. 
                His parents, Jor-El and Lara become aware of Krypton's
                impending destruction and Jor-El begins constructing a 
                spacecraft to carry Kal-El to Earth. 
            </div>
        </div>
        <mat-card [hidden]="hidden1()" class="mat-css-sup">
            <img src="/assets/sp-logo_Picsart.png" class="sm-logo-css">
        </mat-card>
    </div>
    <div class="screen" id="second-screen">
        <div [hidden]="hidden()" class="row mx-0">
            <div class="col-5">
                <h1 class="brief-bat">
                    The origin of Batman depicts the events that cause a young Bruce Wayne to become Batman. 
                    The core event "the murder of Thomas and Martha Wayne by Joe Chill" has remained fairly unchanged,
                    but the aftermath and Bruce's journey to become Batman were not detailed until later years.
                </h1>
            </div>
            <div class="col-7">
                <p class="para-css-bat"> Batman </p>
                <img src="/assets/batman.png" class="bm-image-css">
            </div>
        </div>
        <mat-card [hidden]="hidden()" class="mat-css-bat">
            <img src="/assets/logo_batman.png" class="bat-logo-css">
        </mat-card>
    </div>
    <div class="screen2" id="third-screen">
        <div [hidden]="hidden1()" class="row mx-0">
            <div class="col-7">
                <img src="/assets/ww.png" class="ww-image-css">
                <p class="para-css-ww"> Wonder Woman </p>
            </div>
            <div class="col-5">
                <div class="brief-ww">
                    Wonder Woman's origin story relates that she was sculpted from clay by 
                    her mother Queen Hippolyta and was given a life to live as an Amazon, 
                    along with superhuman powers as gifts by the Greek gods. 
                    In recent years, DC changed her background with the retcon that she is
                    the daughter of Zeus and Hippolyta, jointly raised by her mother and 
                    her aunts Antiope and Menalippe.
                </div>
            </div>
        </div>
        <mat-card [hidden]="hidden1()" class="mat-css-ww">
            <img src="/assets/ww_logo.png" class="ww-logo-css">               
        </mat-card>
    </div>
    <div class="last-div"></div>
</div>